body {
    font-family: Arial;
    padding: 40px;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 10px;
}

.card:hover {
    background-color: orange;
    color: white;
}

button, a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    text-decoration: none;
}